<%= render('partials/example_info') %>

<form class="eg" action="" method="post" data-busy="form">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  <%= render('partials/submit_button') %>
</form>