<div style="margin:1% 5%;">
  <h1 class="display-4">Please Choose an API</h1>
  <p class="lead">
    <form class="eg" action="/ds/apiSelected" method="POST"  data-busy="form">
     <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <div class="form-group">
        <select id="chosen_api" name="chosen_api" class="form-control">
          <option value="eSignature" selected>eSignature</option>
          <option value="Rooms">Rooms</option>
          <option value="Click">Click</option>
          <option value="Monitor">Monitor</option>
          <option value="Admin">Admin</option>
        </select><br>
        <button class="btn btn-docu btn-lg">Choose your desired API</button>
      </div>
    </form>
  </p>
  <hr class="my-4">
</div>