<div style="margin:1% 5%;">
  <%= sanitize @manifest["SupportingTexts"]["LoginPage"]["LoginHeader"] %>
  <p class="lead">
    <form class="eg" action="" method="POST"  data-busy="form">
     <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <div class="form-group">
        <select id="auth" name="auth" class="form-control">
          <% unless session[:examples_API] == 'Monitor' %>
          <option value="grand-auth" selected>Authorization Code grant</option>
          <% end %>
          <option value="jwt-auth">JSON Web Token (JWT) grant</option>
        </select><br>
        <button class="btn btn-docu btn-lg"><%= @manifest["SupportingTexts"]["LoginPage"]["LoginButton"] %></button>
      </div>
    </form>
  </p>
  <hr class="my-4">
  <p><%= @manifest["SupportingTexts"]["LoginPage"]["LoginHelperText"] %></p>
</div>
