<h2><%= @title %></h2>
<% if !@message.nil? %>
<p><%= @message.html_safe %></p>
<% end %>

<% if @json %>
  <!-- Data from the server -->
  <div id="server_json_data" data-server-json-data='{"json":<%= @json %>}' class="hidden"></div>
  <p><pre class="json-display"><code id="json-display"></code></pre></p>


<% end %>

<% if @check_status %>
<p><a href="eg004status">Check the request status</a></p>
<% end %>

<p><a href="/">Continue</a></p>