<h4>5. Get Rooms with filters</h4>
<p>
  This code example demonstrates how to return rooms filtered by your parameters using the
  <a target ='_blank' href="https://developers.docusign.com/rooms-api/guides">Rooms API.</a>
  This specific code example filters for all rooms that have had their field data, updated within the last 10 days, as shown on the Details tab in the UI.
</p>
<p>
  API methods used:
  <a target ='_blank' href="https://developers.docusign.com/rooms-api/reference/Rooms/Rooms/GetRooms">Rooms::GetRooms</a> and
  <a target ='_blank' href="https://developers.docusign.com/rooms-api/code-examples/rooms-exporting-data">Rooms::CreateRoom</a>.
</p>
<p>
  View source file <a target="_blank" href="<%= @source_url %>"><%= @source_file %></a> on GitHub.
</p>
