<h4>2. Create room with a template</h4>
<p>
  This code example demonstrates creating a DocuSign room using a predefined template. If you've created a template for your organization in either Rooms for Mortgage or Rooms for Real Estate, you can create rooms based on this template using the Rooms API.
</p>

<p>API methods used:
  <a target ='_blank' href="https://developers.docusign.com/rooms-api/reference/Roles/Roles/GetRoles">Roles::GetRoles</a> and
  <a target ='_blank' href="https://developers.docusign.com/rooms-api/code-examples/rooms-creating-with-template">Rooms::CreateRoom</a> and
  <a target ='_blank' href="https://developers.docusign.com/rooms-api/reference/RoomTemplates/RoomTemplates/GetRoomTemplates">RoomTemplates::GetRoomTemplates</a>.
</p>

<p>
  View source file <a target="_blank" href="<%= @source_url %>"><%= @source_file %></a> on GitHub.
</p>