<h4>28. Creating a permission profile</a></h4>

<p>
  This code example demonstrates how to create a profile permission
</p>

 <p>API method used:
      <a target='_blank' href="https://developers.docusign.com/esign-rest-api/reference/Accounts/AccountPermissionProfiles/create">AccountPermissionProfiles::create</a>.

<p>
  View source file <a target="_blank" href="<%= @source_url %>"><%= @source_file %></a> on GitHub.
</p>

<form class="eg" action="" method="post" data-busy="form">
  <div class="form-group">
      <label for="permission_profile_name">Creating a permission profile</label>
      <input type="text" class="form-control" id="permission_profile_name" name="permission_profile_name" placeholder="Sample profile name" required />
  </div>
  <button type="submit" class="btn btn-docu">Submit</button>
</form>
