<h4>Envelope sent</h4>
<p>
  The envelope has been created and sent!
  <br>
  Envelope ID: <%= @envelop_id %>
</p>
<p>
  To resume a workflow after first recipient signs the envelope use <a href="eg033">Unpause a signature workflow</a>
</p>

<p><a href="/">Continue</a></p>