<h4>Deleting a permission profile</a></h4>

<p>
  This method deletes a permission profile from an account.
</p>

<p>API method used:
  <a target='_blank' href="https://developers.docusign.com/esign-rest-api/code-examples/permission-profile-deleting">AccountPermissionProfiles::delete</a>.
</p>

<p>
  View source file <a target="_blank" href="<%= @source_url %>"><%= @source_file %></a> on GitHub.
</p>
<form class="eg" action="" method="post" data-busy="form">
  <div class="form-group">
    <label for="lists">Permission profile</label>
    <select id="lists" name="lists" class="form-control">
      <% @permissions_lists.each do |list| %>
        <option value="<%= list.permission_profile_id %>" selected><%= list.permission_profile_name %></option>
      <% end %>
    </select>
  </div>
  <button type="submit" class="btn btn-docu">Submit</button>
</form>
