<h4>Envelope unpaused</h4>
<p>
  The envelope workflow has been resumed and the envelope has been sent to second recipient!
  <br>
  Envelope ID: <%= @envelop_id %>
</p>

<p><a href="/">Continue</a></p>