<h4>8. Grant office access to a form group</h4>
<p>
  This example demonstrates how to assign an office to a
  <a href="https://developers.docusign.com/docs/rooms-api/rooms101/forms/managing-forms-rooms" target="_blank">form group</a>
  for your DocuSign Rooms for Real Estate account. Granting office access to a form group will enable you to filter
  which form groups are available based on that office.
</p>
<p>
  API methods used:
  <a href="https://developers.docusign.com/docs/rooms-api/reference/forms/formgroups/getformgroups" target="_blank">FormGroups:GetFormGroups</a>
  and
  <a href="https://developers.docusign.com/docs/rooms-api/reference/offices/offices/getoffices" target="_blank">Offices:GetOffices</a>
</p>
<p>
  View source file <a target="_blank" href="<%= @source_url %>"><%= @source_file %></a> on GitHub.
</p>