<h4>6. Creating an external form fill session</h4>
<p>
  The DocuSign Rooms API offers developers the option to have users fill out forms without logging in to the Rooms UI through the use of an
  <a target ='_blank' href="https://developers.docusign.com/rooms-api/guides/forms">external form fill session.</a>
  This code example demonstrates how to create an external form fill session using the
  <a target ='_blank' href="https://developers.docusign.com/rooms-api/guides">Rooms API: </a>
  the result of this code example is the URL for the form fill session, which you can embed in your integration or send to the user.
</p>
<p>
  API methods used:
  <a target ='_blank' href="https://developers.docusign.com/rooms-api/reference/Rooms/Rooms/GetRooms">Rooms::GetRooms</a> and
  <a target ='_blank' href="https://developers.docusign.com/rooms-api/reference/Forms/FormLibraries/GetFormLibraries">FormLibraries: GetFormLibraries</a> and
  <a target ='_blank' href="https://developers.docusign.com/rooms-api/reference/Forms/FormLibraries/GetFormLibraryForms">FormLibraries::GetFormLibraryForms</a>.
</p>
<p>
  View source file <a target="_blank" href="<%= @source_url %>"><%= @source_file %></a> on GitHub.
</p>