<h4>1. Get monitoring data</h4>
<p>Demonstrates how to get and display all of your organization’s monitoring data.</p>

<p>API method used:
  <a target='_blank' href="https://developers.docusign.com/docs/monitor-api/reference/monitor/dataset/getstreamfordataset/">DataSet:GetStreamForDataset</a>
</p>

<p>
  View source file <a target="_blank" href="<%= @source_url %>"><%= @source_file %></a> on GitHub.
</p>

<form class="eg" action="" method="post" data-busy="form">
  <button type="submit" class="btn btn-docu">Continue</button>
</form>