<h4>28. Creating a brand</h4>
<p>The brand includes a Brand Name <a href="#">Configure Brands</a>.</p>
<p>This is an example demonstrates how to create a brand.</p>

<% if @show_doc  %>
  <p><a target='_blank' href='<%= @documentation %>'>Documentation</a> about this example.</p>
<% end %>

<p>API method used:
  <a target='_blank' href="https://developers.docusign.com/esign-rest-api/reference/Accounts/AccountBrands/create">AccountsBrands::create</a>.
</p>

<form class="eg" action="" method="post" data-busy="form">

  <div class="form-group">
      <label for="brandName">Brand name</label>
      <input type="text" class="form-control" id="brandName" name="brandName" placeholder="New Brand" required />
  </div>

  <div class="form-group">
    <label for="defaultBrandLanguage">Default Brand language</label>
    <%= select_tag "defaultBrandLanguage", options_for_select(language_list), { id: "defaultBrandLanguage", name: "defaultBrandLanguage", class: "form-control" }  %>
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>