<h4>1. Create a clickwrap</h4>
<p>Creates a clickwrap that you can embed in your website or app.</p>

<p>API method used:
  <a target='_blank' href="https://developers.docusign.com/docs/click-api/reference/accounts/clickwraps/createclickwrap/">ClickWraps::createClickwrap</a>
</p>

<p>
  View source file <a target="_blank" href="<%= @source_url %>"><%= @source_file %></a> on GitHub.
</p>

<form class="eg" action="" method="post" data-busy="form">
  <div class="form-group">
    <label for="clickwrap_name">Clickwrap name</label>
    <input type="text" class="form-control" id="clickwrapName"
           name="clickwrapName" required>
  </div>
  <button type="submit" class="btn btn-docu">Submit</button>
</form>