<h4>1. Create a new room</h4>
<p>This is a general example of creating an room.</p>

<p>API methods used:
  <a target ='_blank' href="https://developers.docusign.com/rooms-api/reference/Roles/Roles/GetRoles">Roles::GetRoles</a> and
  <a target ='_blank' href="https://developers.docusign.com/rooms-api/code-examples/rooms-creating">Rooms::CreateRoom</a>.
</p>
<p>
  View source file <a target="_blank" href="<%= @source_url %>"><%= @source_file %></a> on GitHub.
</p>