<%=render 'room_api/eg001_create_room_with_data/information' %>

<form class="eg" id="data_form" action="" method="post" data-busy="form">
  <div class="form-group">
    <label for="roomName">Room name</label>
    <input type="text" class="form-control" id="roomName" name="roomName" value="Room 123">
  </div>
  <button type="submit" class="btn btn-docu">Submit</button>
</form>