default: &default
  # Do not add a slash to the end of the app_url,
  # It will break the JWT callback string
  app_url: http://localhost:3000
  # quickstart is an optional setting and can be enabled by setting it to: true
  quickstart: {QUICKSTART_VALUE}
  # NOTE: The terms "client_id" and "Integration key" are synonyms. They refer to the same thing
  # The integration_key value is the same between the development account and production account
  integration_key: {INTEGRATION_KEY_AUTH_CODE}
  # integration secret key https://developers.docusign.com/platform/configuring-app/
  integration_secret: {SECRET_KEY}
  # NOTE: this jwt_integration_key can have the same value as the above integration_key
  jwt_integration_key: {INTEGRATION_KEY_JWT}
  # NOTE: impersonated_user_guid, "User ID" and "API Username" are synonyms. They refer to the same thing
  # See: https://admindemo.docusign.com/users for the API Username
  impersonated_user_guid: {IMPERSONATED_USER_ID}
  signer_email:  {SIGNER_EMAIL}
  signer_name: {SIGNER_NAME}
  # Authentication service endpoint is different between production and development
  # https://developers.docusign.com/docs/esign-rest-api/go-live/after-go-live/
  authorization_server: https://account-d.docusign.com
  aud: account-d.docusign.com
  rooms_host: "https://demo.rooms.docusign.com/restapi"
  monitor_host: "https://lens-d.docusign.net"
  admin_host: "https://api-d.docusign.net/management"
  webforms_host: ".services.docusign.net/webforms/v1.1"
  allow_silent_authentication: true # A user can be silently authenticated if they have an
                                    # Active login session on another tab of the same browser
                                    # Set if you want a specific DocuSign AccountId, If false, the users default account will be used.
  target_account_id: false # Payment gateway information is optional. It is only needed for Send a request for Accept Payments.
                           # See the PAYMENTS_INSTALLATION.md file for instructions
  gateway_account_id: {DS_PAYMENT_GATEWAY_ID} # The remainder of this file is already configured.
  demo_doc_path: demo_documents
  doc_docx: World_Wide_Corp_Battle_Plan_Trafalgar.docx
  doc_pdf: World_Wide_Corp_lorem.pdf
  doc_terms_pdf: Term_Of_Service.pdf
  doc_offer_letter: Offer_Letter_Demo.docx
  web_form_template_file: World_Wide_Corp_Form.pdf
  web_form_config_file: web-form-config.json
  gateway_name: "stripe"
  gateway_display_name: "Stripe"
  github_example_url: https://github.com/docusign/code-examples-ruby/tree/master/app/services/
  example_manifest_url: "https://raw.githubusercontent.com/docusign/code-examples-csharp/master/manifest/CodeExamplesManifest.json"
  documentation: false
  api_only: false

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default
