<div class="container-fill-bg header-div">
<div class="jumbotron jumbotron-fluid">
  <table>
    <tbody>
      <tr>
        <td>
          <h1 class="display-4">Ruby Launcher</h1>
          <p class="Xlead">Welcome to the Ruby code examples for DocuSign Monitor API with JWT Grant authentication</p>
        </td>
        <td>
          <img src="banner-code.png" />
        </td>
      </tr>
    </tbody>
  </table>
</div>

</div>

<div class="container body-div" id="index-page">
  <% if @show_doc  %>
  <p><a target='_blank' href='<%= :documentation %>'>Documentation</a> on using JWT Authorization from a Ruby Rails application.</p>
  <% end %>

  <h2>Monitor API Code Examples</h2>

  <h4 id="get_stream_for_dataset">1. <a href="eg001">Get monitoring data</a></h4>
  <p>
    Demonstrates how to get and display all of your organization’s monitoring data.
  </p>
  <p>
    API method used:
    <a target='_blank' href="https://developers.docusign.com/docs/monitor-api/reference/monitor/dataset/getstream/">DataSet:GetStream</a>
  </p>

</div>
<!-- anchor-js is only for the index page -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.1/anchor.min.js"></script>
<script>anchors.options.placement = 'left'; anchors.add('h4')</script>