<%= render('partials/example_info') %>

<% redirect_to1_index = 0 %>

<% if session[:clickwrap_id] %>

  <form class="eg" action="" method="post" data-busy="form">
    <% if @example["Forms"][0]["FormName"] %>
      <%= sanitize @example["Forms"][0]["FormName"] %>
    <% end %>

    <%= render('partials/submit_button') %>
  </form>

<% else %>
  <%= sanitize format_string(@example["RedirectsToOtherCodeExamples"][redirect_to1_index]["RedirectText"], 'href="eg001"') %>

<% end %>