<h4>List an envelope's recipients and their status</h4>
<p>List the envelope's recipients, including their current status.</p>

<% if @show_doc %>
<p><a target='_blank' href='<%= @documentation %>'>Documentation</a> about this example.</p>
<% end %>

  <p>API method used:
    <a target='_blank' href="https://developers.docusign.com/docs/esign-rest-api/reference/envelopes/enveloperecipients/list/">EnvelopeRecipients::list</a>.
  </p>
  <p>
    View source file <a target="_blank" href="<%= @source_url %>"><%= @source_file %></a> on GitHub.
  </p>

  <% if @envelope_ok %>
<p>The envelope you created via example 2 will be queried.</p>

<form class="eg" action="" method="post" data-busy="form">
  <button type="submit" class="btn btn-docu">Continue</button>
</form>

<%  else  %>
<p>Problem: please first create an envelope using <a href="eg002">example 2.</a> <br/>
  Thank you.</p>

<form class="eg" action="eg002" method="get">
  <button type="submit" class="btn btn-docu">Continue</button>
</form>
<% end %>
