<%= render('partials/example_info') %>

<% redirect_to2_index = 0 %>

  <% if @envelope_ok %>
<form class="eg" action="" method="post" data-busy="form">
  <%= render('partials/submit_button') %>
</form>

<%  else  %>
<%= sanitize format_string(@example["RedirectsToOtherCodeExamples"][redirect_to2_index]["RedirectText"], 'href="eg002"') %>

<form class="eg" action="eg002" method="get">
  <%= render('partials/continue_button') %>
</form>
<% end %>
