<%= render('partials/example_info') %>

<% redirect_to1_index = 0 %>

<% if session[:clickwrap_id] %>
<p>The clickwrap you created via example 1 will be queried.</p>

<form class="eg" action="" method="post" data-busy="form">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  <%= render('partials/submit_button') %>
</form>

<% else %>
  <%= sanitize format_string(@example["RedirectsToOtherCodeExamples"][redirect_to1_index]["RedirectText"], 'href="eg001"') %>

<% end %>