<h4>9. Assign a form to a form group</h4>
<p>
  This example demonstrates how to assign a form to a
  <a href="https://developers.docusign.com/docs/rooms-api/rooms101/forms/managing-forms-rooms" target="_blank">form group</a>
  for your DocuSign Rooms for Real Estate account. As a prerequisite, ensure that you have
  <a href="https://developers.docusign.com/docs/rooms-api/how-to/create-form-group" target="_blank">created a form group</a>
  and <a href="https://developers.docusign.com/docs/rooms-api/how-to/access-form-group/" target="_blank">set the office ID on this form group</a>
  before proceeding.
</p>
<p>
  API methods used:
  <a href="https://developers.docusign.com/docs/rooms-api/reference/forms/formgroups/getformgroups" target="_blank">FormGroups:GetFormGroups</a>
  and
  <a target ='_blank' href="https://developers.docusign.com/docs/rooms-api/reference/forms/formlibraries/getformlibraries">FormLibraries::GetFormLibraryForms</a>.
</p>
<p>
  View source file <a target="_blank" href="<%= @source_url %>"><%= @source_file %></a> on GitHub.
</p>